<h1>Filter data - Where prefilter</h1>

<p>
  You can use the <code>where</code>-prefilter to filter the data the server returns.<br>
  The syntax is a bit tricky because the query has to get converted to an sql expression to increase performance.
</p>

<h2>Basic query</h2>

<p>
  In this small example only values that start with <code>testV</code> are queried.
</p>

<app-doc>
  {{ values$ | async | json }}<br>
  <button m4-button (click)="addValue()">Add value</button>
  <div lang>
    <![CDATA[
    \f:(typescript:demo.component.ts)
    export class DemoComponent implements OnInit {\n
    \tvalues$: Observable<any>;\n\n

    \tconstructor(private db: SapphireDb) { }\n\n

    \tngOnInit() {\n
    \t\tthis.values$ = this.db.collection('entries')}\n
      \t\t\t.where(['content', 'StartsWith', 'testV'])\n
      \t\t\t.values();\n
    \t}\n
    }
    ]]>
  </div>
</app-doc>

<h2>Syntax</h2>

<p>
  If you want to define your queries using an array use this syntax.<br><br>

  A basic condition is a tuple of three elements: <code>[ key, operation, compare value ]</code><br>
  Example: You want to check a single field to equal your value: <code>['field', '==', 'value']</code><br><br>

  To combine multiple condition tuples you can wrap them in another tuple of three or more elements: <code>[condition1,
  'and/or', condition2]</code><br>
  Example: You want to check if the field value equals 'value' or 'value2': <code>[['field', '==', 'value'], 'or',
  ['field', '==', 'value']]</code><br><br>

  With this syntax you can create most of the filter expressions.<br><br>

  Allowed operations: <code>==</code>, <code>!=</code>, <code>&lt;</code>, <code>&gt;</code>, <code>&gt;=</code>, <code>&lt;=</code>,
  <code>Contains</code>, <code>ContainsCaseInsensitive</code>, <code>StartsWith</code>, <code>StartsWithCaseInsensitive</code>,
  <code>EndsWith</code>, <code>EndsWithCaseInsensitive</code>, <code>InArray</code>, <code>ArrayContains</code>, <code>NotEqualIgnoreCase</code>
  and <code>EqualIgnoreCase</code>
</p>

<h2>Complex query</h2>

<p>
  This example shows how to combine different conditions using or/and. This allows you to create complex conditions.<br>
  In this example all values are queried that <br><br>
  start with <code>test</code> and end with <code>V</code><br>
  or<br>
  start with <code>var</code> and end with <code>2</code>;
</p>

<app-doc>
  {{ values2$ | async | json }}<br>
  <button m4-button (click)="addValue()">Add value</button>
  <div lang>
    <![CDATA[
    \f:(typescript:demo.component.ts)
    export class DemoComponent implements OnInit {\n
    \tvalues$: Observable<Entry[]>;\n\n

    \tconstructor(private db: SapphireDb) { }\n\n

    \tngOnInit() {\n
    \t\tthis.values$ = this.db.collection
    <Entry>('entries')\n
      \t\t\t.where([\n
      \t\t\t\t[['content', 'StartsWith', 'test'], 'and', ['content', 'EndsWith', 'V']],\n
      \t\t\t\t'or',\n
      \t\t\t\t[['content', 'StartsWith', 'var'], 'and', ['content', 'EndsWith', '2']]\n
      \t\t\t])\n
      \t\t\t.values();\n
      \t}\n
      }
      ]]>
  </div>
</app-doc>

<h2>Example - Get value by id</h2>

<div>
  <m4-input prepend="Id" [search-button]="true" (search-button-click)="id$.next(id)" [(ngModel)]="id"></m4-input>
  <span [innerText]="valueById$ | async | json"></span>
</div>

<app-doc [showContent]="false">
  <div lang>
    <![CDATA[
    \f:(typescript:demo.component.ts)
    export class DemoComponent implements OnInit {\n
      \t\tid$ = new ReplaySubject<string>();\n
      \t\tvalueById$: Observable<any>;\n\n

    \tconstructor(private db: SapphireDb) { }\n\n

      \tngOnInit() {\n
        \t\tthis.valueById$ = this.id$.pipe(\n
          \t\t\tswitchMap((id: any) => {\n
            \t\t\t\treturn this.db.collection<any>('demo.entries').where(['id', '==', id]).first().values();\n
          \t\t\t})\n
        \t\t);\n
      \t}\n
      }
      ]]>
  </div>
</app-doc>

<a routerLink="../order">Continue with order prefilters <span class="mif-arrow-right"></span></a>
