<div class="hero hero-bg text-center">

  <div class="display4 fg-blue"><span class="reduce-3 enlarge-3-md">Realtime database</span></div>

  <h4 class="text-center fg-blue text-upper text-light">A self-hosted, easy to use realtime database</h4>
</div>

<div class="container-fluid bg-white fg-dark pt-10 pb-20">
  <div class="container text-center">

    <div class="feature-table row mt-10">
      <div class="cell-md-4">
        <div class="info-panel rounded no-overflow shadow-3">
          <div class="info-panel-header bg-green fg-white">Open Source</div>
          <div class="info-panel-content">
            <div class="mx-10 my-6"><span class="mif-file-code mif-8x fg-green"></span></div>
            <span class="text-leader2">Realtime database and all implementations are OpenSource</span>
          </div>
          <div class="info-panel-footer">
            <a href="https://github.com/morrisjdev/RealtimeDatabase" target="_blank" class="button large outline success rounded">Download</a>
          </div>
        </div>
      </div>
      <div class="cell-md-4">
        <div class="info-panel rounded no-overflow shadow-3">
          <div class="info-panel-header bg-steel fg-white">Easy to use</div>
          <div class="info-panel-content">
            <div class="mx-10 my-6"><span class="mif-rocket mif-8x fg-steel"></span></div>
            <span class="text-leader2">All features are well designed and easy to use</span>
          </div>
          <div class="info-panel-footer">
            <a routerLink="../net-core" class="button large outline secondary rounded">Setup server</a>
          </div>
        </div>
      </div>
      <div class="cell-md-4">
        <div class="info-panel rounded no-overflow shadow-3">
          <div class="info-panel-header bg-orange fg-white">Modern technologies</div>
          <div class="info-panel-content">
            <div class="mx-10 my-6"><span class="mif-power mif-8x fg-orange"></span></div>
            <span class="text-leader2">This library is very powerful because it uses modern technology like Angular, RxJs, Entity Framework Core and much more</span>
          </div>
          <div class="info-panel-footer">
            <a href="https://angular.io/" target="_blank" class="button large outline warning rounded">Visit angular.io</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="container-fluid bg-light pt-10 pb-20">
  <div class="container text-center">
    <div class="h1 m-10"><span class="reduce-1 enlarge-1-md">What is it?</span></div>
    <div class="text-leader">
      <p class="reduce-1 enlarge-1-md pl-5-fs pr-5-fs pl-20-md pr-20-md">
        Realtime database is an open source library that enables you to easily create your own realtime application.
      </p>
    </div>
    <hr class="mt-10 mb-10 w-50" style="background-color: #E1E1E1">
    <div class="text-leader2">
      <p class="reduce-1 enlarge-1-md pl-5-fs pr-5-fs pl-20-md pr-20-md">
        Build amazing applications with less effort and get the best results of your project. <br>
        Realtime database should serve as a self hosted alternative to firebase.
      </p>
    </div>
  </div>
</div>

<div class="container-fluid feature-bg pt-10 pb-20">
  <div class="container text-center">
    <div class="h1 mt-10"><span class="reduce-1 enlarge-1-md">All the Features You Need</span></div>
    <div class="h4 text-light"><span class="reduce-1 enlarge-1-md">Realtime database includes:</span></div>

    <div class="row mt-12">
      <div class="cell-md-4 mt-4">
        <div><span class="mif-cogs mif-8x"></span></div>
        <h4 class="mt-4">Dead simple configuration</h4>
        <p>
          Realtime database is very easy to configure and to use. It is aimed to bring results and not to waste time you could better use for own features.
          You can easily extend an existing application using EntityFrameworkCore.
        </p>
      </div>
      <div class="cell-md-4 mt-4">
        <div><span class="mif-power mif-8x"></span></div>
        <h4 class="mt-4">Blazing fast development</h4>
        <p>
          Because everything is ready to use, realtime database increases development speed a lot.
        </p>
      </div>
      <div class="cell-md-4 mt-4">
        <div><span class="mif-satellite mif-8x"></span></div>
        <h4 class="mt-4">Modern technologies</h4>
        <p>
          Realtime database uses modern technologies like ServerSentEvents, Websockets, Entity Framework and RxJs.
        </p>
      </div>
    </div>

    <div class="row mt-12">
      <div class="cell-md-4 mt-4">
        <div><span class="mif-server mif-8x"></span></div>
        <h4 class="mt-4">Self hosted</h4>
        <p>
          Self host your application and keep the control of everything. No third party services are used.
        </p>
      </div>
      <div class="cell-md-4 mt-4">
        <div><span class="mif-database mif-8x"></span></div>
        <h4 class="mt-4">API generation</h4>
        <p>
          Realtime database generates interfaces for all models you need, so you don't have to care about basic functions like insert, update and delete.
        </p>
      </div>
      <div class="cell-md-4 mt-4">
        <div><span class="mif-security mif-8x"></span></div>
        <h4 class="mt-4">Authentication/Authorization included</h4>
        <p>
          Realtime database comes with lots of features to secure you application and data. It also comes with a login provider.
        </p>
      </div>
    </div>

    <div class="row mt-12">
      <div class="cell-md-4 mt-4">
        <div><span class="mif-checkmark mif-8x"></span></div>
        <h4 class="mt-4">Database support</h4>
        <p>
          Because realtime database is an extension for Entity Framework Core it also supports all database systems supported by EF Core.
        </p>
      </div>
      <div class="cell-md-4 mt-4">
        <div><span class="mif-power-cord mif-8x"></span></div>
        <h4 class="mt-4">Actions</h4>
        <p>
          Realtime database adds support for actions. Actions are server methods that can be called through the communication pipeline. Also supports async methods.
        </p>
      </div>
      <div class="cell-md-4 mt-4">
        <div><span class="mif-cloud mif-8x"></span></div>
        <h4 class="mt-4">NLB support</h4>
        <p>
          Realtime database also supports NLB-scenarios and is scalable.
        </p>
      </div>
    </div>
  </div>
</div>


<footer class="footer-bg">
  <div class="container pt-20 pb-20">
    <div class="text-center">
      <ul class="inline-list reduce-1" id="social-menu">
        <li><a href="https://github.com/morrisjdev/RealtimeDatabase" target="_blank">RealtimeDatabase <span class="mif-github"></span></a></li>
        <li><a href="https://github.com/morrisjdev/ng-realtime-database" target="_blank">ng-realtime-database <span class="mif-github"></span></a></li>
      </ul>
    </div>

    <div class="text-center mt-10">
      <ul class="inline-list reduce-1" id="footer-menu">
        <li><a href="https://github.com/morrisjdev/RealtimeDatabase/blob/master/LICENSE" target="_blank">License</a></li>
        <li><a href="https://github.com/morrisjdev" target="_blank">Author</a></li>
        <li><a href="https://github.com/morrisjdev/RealtimeDatabase/issues" target="_blank">Issues</a></li>
        <li><a href="https://github.com/morrisjdev/RealtimeDatabase/releases" target="_blank">Releases</a></li>
      </ul>
    </div>


    <div class="text-center mt-10 reduce-1">
      ng-realtime-database &copy; 2018-2019 by <a href="https://github.com/morrisjdev" class="no-wrap" target="_blank">morrisjdev</a>.<br>
      RealtimeDatabase &copy; 2018-2019 by <a href="https://github.com/morrisjdev" class="no-wrap" target="_blank">morrisjdev</a>.
    </div>
  </div>
</footer>
