<div class="hero text-center pt-20">

  <img src="./assets/icon/SapphireDB Logo.svg" alt="SapphireDb logo" class="w-25" />

  <div class="display4 fg-darkBlue">
    <span class="reduce-3 enlarge-3-md">SapphireDb</span>
  </div>

  <h4 class="text-center fg-darkBlue text-upper text-light">A self-hosted, easy to use realtime database</h4>
</div>

<div class="container-fluid bg-white fg-dark pt-10 pb-20">
  <div class="container text-center">

    <div class="feature-table row mt-10">
      <div class="cell-md-4">
        <div class="info-panel rounded no-overflow shadow-3">
          <div class="info-panel-header bg-green fg-white">Open Source</div>
          <div class="info-panel-content">
            <div class="mx-10 my-6"><span class="mif-file-code mif-8x fg-green"></span></div>
            <span class="text-leader2">SapphireDb and all implementations are OpenSource</span>
          </div>
          <div class="info-panel-footer">
            <a href="https://github.com/morrisjdev/SapphireDb" target="_blank" class="button large outline success rounded">Download</a>
          </div>
        </div>
      </div>
      <div class="cell-md-4">
        <div class="info-panel rounded no-overflow shadow-3">
          <div class="info-panel-header bg-steel fg-white">Easy to use</div>
          <div class="info-panel-content">
            <div class="mx-10 my-6"><span class="mif-rocket mif-8x fg-steel"></span></div>
            <span class="text-leader2">All features are well designed and easy to use</span>
          </div>
          <div class="info-panel-footer">
            <a routerLink="../net-core" class="button large outline secondary rounded">Setup server</a>
          </div>
        </div>
      </div>
      <div class="cell-md-4">
        <div class="info-panel rounded no-overflow shadow-3">
          <div class="info-panel-header bg-orange fg-white">Modern technologies</div>
          <div class="info-panel-content">
            <div class="mx-10 my-6"><span class="mif-power mif-8x fg-orange"></span></div>
            <span class="text-leader2">This library is very powerful because it uses modern technology like Angular, RxJs, Entity Framework Core and much more</span>
          </div>
          <div class="info-panel-footer">
            <a href="https://angular.io/" target="_blank" class="button large outline warning rounded">Visit angular.io</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="container-fluid bg-light pt-10 pb-20">
  <div class="container text-center">
    <div class="h1 m-10"><span class="reduce-1 enlarge-1-md">What is it?</span></div>
    <div class="text-leader">
      <p class="reduce-1 enlarge-1-md pl-5-fs pr-5-fs pl-20-md pr-20-md">
        SapphireDb is an open source library that enables you to easily create your own application with realtime data synchronization.
      </p>
    </div>
    <hr class="mt-10 mb-10 w-50" style="background-color: #E1E1E1">
    <div class="text-leader2">
      <p class="reduce-1 enlarge-1-md pl-5-fs pr-5-fs pl-20-md pr-20-md">
        Build amazing reactive applications with realtime data synchronization and get the best results of your project.<br>
        SapphireDb should serve as a self hosted alternative to firebase and also gives you an alternative to SignalR.
      </p>
    </div>
  </div>
</div>

<div class="container-fluid feature-bg pt-10 pb-20">
  <div class="container text-center">
    <div class="h1 mt-10"><span class="reduce-1 enlarge-1-md">All the Features You Need</span></div>
    <div class="h4 text-light"><span class="reduce-1 enlarge-1-md">SapphireDb includes:</span></div>

    <div class="row mt-12">
      <div class="cell-md-4 mt-4">
        <div><span class="mif-cogs mif-8x"></span></div>
        <h4 class="mt-4">Dead simple configuration</h4>
        <p>
          SapphireDb is very easy to configure and to use. It is aimed to bring results and not to waste time you could better use for own features.
          You can easily extend an existing application using EntityFrameworkCore.
        </p>
      </div>
      <div class="cell-md-4 mt-4">
        <div><span class="mif-power mif-8x"></span></div>
        <h4 class="mt-4">Blazing fast development</h4>
        <p>
          Because everything is ready to use SapphireDb increases development speed a lot.
        </p>
      </div>
      <div class="cell-md-4 mt-4">
        <div><span class="mif-satellite mif-8x"></span></div>
        <h4 class="mt-4">Modern technologies</h4>
        <p>
          SapphireDb uses modern technologies like ServerSentEvents, Websockets, Entity Framework and RxJs.
        </p>
      </div>
    </div>

    <div class="row mt-12">
      <div class="cell-md-4 mt-4">
        <div><span class="mif-server mif-8x"></span></div>
        <h4 class="mt-4">Self hosted</h4>
        <p>
          Self host your application and keep the control of everything. No third party services are used.
        </p>
      </div>
      <div class="cell-md-4 mt-4">
        <div><span class="mif-database mif-8x"></span></div>
        <h4 class="mt-4">CRUD operations</h4>
        <p>
          SapphireDb already implements the CRUD operations so you dont need to care about <b>C</b>reating, <b>R</b>eading, <b>U</b>pdating and <b>D</b>eleting data on server side.
        </p>
      </div>
      <div class="cell-md-4 mt-4">
        <div><span class="mif-security mif-8x"></span></div>
        <h4 class="mt-4">Authentication/Authorization included</h4>
        <p>
          SapphireDb comes with lots of features to secure you application and data. It also comes with a login provider.
        </p>
      </div>
    </div>

    <div class="row mt-12">
      <div class="cell-md-4 mt-4">
        <div><span class="mif-checkmark mif-8x"></span></div>
        <h4 class="mt-4">Database support</h4>
        <p>
          Because SapphireDb is an extension for Entity Framework Core it also supports all database systems supported by EF Core.
        </p>
      </div>
      <div class="cell-md-4 mt-4">
        <div><span class="mif-power-cord mif-8x"></span></div>
        <h4 class="mt-4">Actions</h4>
        <p>
          SapphireDb adds support for actions. Actions are server methods that can be called through the communication pipeline. Also supports async methods.
        </p>
      </div>
      <div class="cell-md-4 mt-4">
        <div><span class="mif-cloud mif-8x"></span></div>
        <h4 class="mt-4">NLB support</h4>
        <p>
         SapphireDb also supports running in an NLB with multiple instances and scales very good.
        </p>
      </div>
    </div>
  </div>
</div>


