<h1>Authorization - Model attributes</h1>

<div class="remark success">
  The model attributes can be used on model classes to control which user can do what.
  Available model attributes: <code>[QueryAuth]</code>, <code>[CreateAuth]</code>, <code>[UpdateAuth]</code> and <code>[RemoveAuth]</code>
</div>

<div class="remark info">
  Every auth-attribute can be used in three ways.
  <ol class="decimal">
    <li><b>Without attributes</b>: Authentication required</li>
    <li><b>Array of strings</b>: The user has to be in one of the given roles</li>
    <li><b>String</b>: The string is the name of a boolean-function that is executed for every user</li>
  </ol>
  <a routerLink="../attributes">Read more about the usage of attributes</a>
</div>

<h2>Query auth attribute</h2>

<div class="remark info">
  The <code>[QueryAuth]</code>-attribute can only be used on single fields.<br>
  The authorization rules are applied to the annotated field. All other fields are not affected by the attribute. If the user is not authorized by the defined rule, the field value will not get send to the client.
</div>

<div class="remark success">
  If you want to control if a user can query a complete model use the <a routerLink="../../data/query-function">Query function</a> instead. It can be executed on database side and performs better.
</div>

<h3>Example - Field authorization</h3>

<p>The user can always query values of the collection. If not authenticated the user will only get the Ids as values. The Content will get ommitted for unauthenticated users</p>

<app-doc [showContent]="false">
  <div lang>
    <![CDATA[
    \f:(csharp:DemoEntry.cs)
    public class DemoEntry\n
    {\n
      \t[Key]\n
      \tpublic int Id { get; set; }\n\n

      \t[QueryAuth]\n
      \tpublic string Content { get; set; }\n
    }
    ]]>
  </div>
</app-doc>

<h2>Update auth attribute</h2>

<div class="remark info">
  The <code>[UpdateAuth]</code>-attribute can be used on model classes or single fields.<br>
  If used on a class, the user only can update values if authenticated.<br>
  If used on a field, the authorization rules are only applied to the field. All other fields are not affected by the attribute. If the user is not authorized by the defined rule, the field can not get updated.
</div>

<h3>Example - Class authorization</h3>

<p>To update models of the collection the user needs to be authenticated. If not, the user will get an exception.</p>

<app-doc [showContent]="false">
  <div lang>
    <![CDATA[
    \f:(csharp:DemoEntry.cs)
    [UpdateAuth]\n
    public class DemoEntry\n
    {\n
      \t[Key]\n
      \tpublic int Id { get; set; }\n\n

      \tpublic string Content { get; set; }\n
    }
    ]]>
  </div>
</app-doc>

<h3>Example - Field authorization</h3>

<p>The user can always update values of the collection. If not authenticated the user will not be able to set a new content.</p>

<app-doc [showContent]="false">
  <div lang>
    <![CDATA[
    \f:(csharp:DemoEntry.cs)
    public class DemoEntry\n
    {\n
      \t[Key]\n
      \tpublic int Id { get; set; }\n\n

      \t[UpdateAuth]\n
      \tpublic string Content { get; set; }\n
    }
    ]]>
  </div>
</app-doc>

<h2>Create auth attribute</h2>

<div class="remark info">
  The <code>[CreateAuth]</code>-attribute can be used on model classes, to control if a user can create new values.
</div>

<h3>Example</h3>

<p>To create values, the user has to be authenticated.</p>

<app-doc [showContent]="false">
  <div lang>
    <![CDATA[
    \f:(csharp:DemoEntry.cs)
    [CreateAuth]\n
    public class DemoEntry\n
    {\n
      \t[Key]\n
      \tpublic int Id { get; set; }\n\n

      \tpublic string Content { get; set; }\n
    }
    ]]>
  </div>
</app-doc>

<h2>Remove auth attribute</h2>

<div class="remark info">
  The <code>[RemoveAuth]</code>-attribute can be used on model classes, to control if a user can remove values.
</div>

<h3>Example</h3>

<p>To remove values, the user has to be authenticated.</p>

<app-doc [showContent]="false">
  <div lang>
    <![CDATA[
    \f:(csharp:DemoEntry.cs)
    [RemoveAuth]\n
    public class DemoEntry\n
    {\n
      \t[Key]\n
      \tpublic int Id { get; set; }\n\n

      \tpublic string Content { get; set; }\n
    }
    ]]>
  </div>
</app-doc>
