<h1>Conflict handling</h1>

<p>
  SapphireDb supports automatic conflict handling to handle conflicts that can occur during offline usage or parallel work on the same object.
</p>

<h2>Setup</h2>

<div class="remark success">
  SapphireDb will handle all conflicts that can happen automatically when using <code>SapphireOfflineEntity</code>.<br>
  You can optionally control how SapphireDb should behave in case of a merge conflict.
</div>

<div class="remark info">
  It is necessary to use <code>SapphireOfflineEntity</code> if you want to use the conflict handling, even if you're not using the offline functionality.
</div>

<h3>Basic usage</h3>

<app-doc [showContent]="false">
  <div lang>
    <![CDATA[
    \f:(csharp:Entry.cs)
    public class DemoEntry : SapphireOfflineEntity\n
    {\n
      \tpublic string Content { get; set; }\n
    }
    ]]>
  </div>
</app-doc>

<h3>Configure merge conflict handling</h3>

<app-doc [showContent]="false">
  <div lang>
    <![CDATA[
    \f:(csharp:Entry.cs)
    public class DemoEntry : SapphireOfflineEntity\n
    {\n
      \t[MergeConflictResolutionMode(MergeConflictResolutionMode.ConflictMarkers)]\n
      \tpublic string Content { get; set; }\n
    }
    ]]>
  </div>
</app-doc>

<div class="remark info">
  Available merge conflict resolution modes are:
  <ul>
    <li><b>Database: </b> Take the value that is already stored in database</li>
    <li><b>Last: </b> Take the value of the conflicting operation</li>
    <li><b>ConflictMarkers: </b> Take both values and add GIT-Merge markers (only works with strings)</li>
  </ul>
</div>

<h2>Disable auto merge</h2>

<div class="remark info">
  It is also possible to disable auto merge if its necessary to keep the integrity of objects for examples.
  It is still necessary to use <code>SapphireOfflineEntity</code> to detect merge conflicts, but instead of resolving a detected merge error an exception is thrown.
</div>

<app-doc [showContent]="false">
  <div lang>
    <![CDATA[
    \f:(csharp:Entry.cs)
    [DisableAutoMerge]\n
    public class DemoEntry : SapphireOfflineEntity\n
    {\n
      \tpublic string Content { get; set; }\n
    }
    ]]>
  </div>
</app-doc>
