<h1>Connection types</h1>

<div class="remark success">
  SapphireDb supports different types of connection. This makes client implementations very easy.<br>
  SapphireDb also supports older browsers with the connections.
</div>

<h2>Available connection types</h2>

<h3>Websocket</h3>

<div class="remark info">
  Websocket is a modern technology for bi-directional data transfer. The server and client can push data through the connection.
</div>

<h3>Server sent events (SSE)</h3>

<div class="remark info">
  Server sent events use an open connection that can be used by the server to push data to the client. The client can send
  data using normal http requests.
</div>

<h3>Long polling</h3>

<div class="remark info">
  If the client does not support any of the other methods you can also switch to long polling. The data will be requested
  in a long running request. Data will be transferred through normal http requests.
</div>

<h2>Demo</h2>

<div class="remark warning">
  This small demo changes the connection type of the whole application. You can test every section with the different connection types.
</div>

<button class="mr-5" m4-button (click)="setConnectionType('websocket')">Use Websocket</button>
<button class="mr-5" m4-button (click)="setConnectionType('sse')">Use SSE</button>
<button m4-button (click)="setConnectionType('poll')">Use long polling</button>

<h2>Set connection type</h2>

<div class="remark success">
  ng-sapphiredb automatically switches the connection type to one the client supports. You can also define it manually.
</div>

<app-doc [showContent]="false">
  <div lang>
    <![CDATA[
    \f:(typescript:Angular)
    @NgModule({\n
      \timports: [\n
        \t\tSapphireDbModule\n
      \t],\n
      \tproviders: [\n
        \t\t{\n
    \t\t\tprovide: SAPPHIRE_DB_OPTIONS,\n
    \t\t\tuseValue: {\n
            \t\t\t\tconnectionType: 'websocket' or 'sse' or 'poll'\n
          \t\t\t}\n
    \t\t}\n
      \t],\n
    })\n
    export class AppModule {}
    ]]>
  </div>
</app-doc>
