<h1>Demos - Editor</h1>

<m4-panel title="Source" [collapsible]="true" [collapsed]="true">
  <app-doc [showContent]="false">
    <div lang>
      <![CDATA[
      \f:(typescript:editor.component.ts)

      ]]>
    </div>
  </app-doc>
</m4-panel>

<div class="row">
  <div class="cell-md-12">
    <m4-input [(ngModel)]="name" (ngModelChange)="name$.next($event)" prepend="Document"></m4-input>
  </div>
  <div class="cell-md-12" *ngIf="document$ | async; let document">
    <m4-textarea cls-textarea="h-vh-50" [ngModel]="document.content" (ngModelChange)="updateDocument(document, $event)" prepend="Content"></m4-textarea>
  </div>
</div>
