<h1>Authentication</h1>

<p>
  SapphireDb comes with methods for authentication and role-based authorization.<br>
  You can simply authenticate your client using the built in methods. It also comes with a user and role management.
</p>

<h2>Server setup</h2>

<p>
  To setup the server modify your <code>Startup.cs</code> like this:
</p>

<app-doc [showContent]="false">
  <div lang>
    <![CDATA[
    \f:(ts:Startup.cs)
    public class Startup\n
    {\n
      \tpublic void ConfigureServices(IServiceCollection services)\n
      \t{\n
        \t\t//Register services\n
        \t\tservices.AddSapphireAuth<SapphireAuthContent<IdentityUser>, IdentityUser>(new JwtOptions("secret key", "issuer")), cfg => ...);\n
      \t}\n
    }
    ]]>
  </div>
</app-doc>

<br>
<a routerLink="../net-core">Read more about server setup</a>

<h2>Client setup</h2>

<p>
  To use authentication on client side, you've got multiple options.
</p>

<h3>Use Built-in authentication</h3>

<p>
  If you decide to use the built in authentication you don't have to do much.<br>
  To start a new session and login you can simply use the <code>login</code> on the database. This will
  create a session and load available data to the client.
</p>

<app-doc [showContent]="false">
  <div lang>
    <![CDATA[
    \f:(typescript:app.module.ts)
    @NgModule({\n
      \timports: [\n
        \t\tSapphireDbModule\n
      \t],\n
      \tproviders: [\n
        \t\t{\n
    \t\t\tprovide: SAPPHIRE_DB_OPTIONS,\n
    \t\t\tuseValue: {\n
            \t\t\t\tloginRedirect: 'dev/account/login',\n
            \t\t\t\tunauthorizedRedirect: 'dev/account/unauthorized',\n
          \t\t\t}\n
    \t\t}\n
      \t],\n
    })\n
    export class AppModule {}
    ]]>
  </div>
</app-doc>

<h3>Use other authentication</h3>

<p>
  If you want to use other authentication methods just call <code>this.db.setBearer(...)</code> to update the clients
  to send this bearer to the server.
</p>

<br>
<a routerLink="../angular">Read more about client setup</a>
