<h1>Limit data - Take/Skip prefilter</h1>

<p>
  You can use the <code>take</code> and <code>skip</code> prefilters to control the queried data<br>
  With <code>skip</code> you omit the given count of values.<br>
  With <code>take</code> you limit the queried data.<br>
  With <code>first</code> you can query only the first element.<br>
  With <code>last</code> you can query only the last element.
</p>

<div class="remark warning">
  Note that the usage of the prefilter types <code>Take</code>, <code>Skip</code>, <code>Select</code>, <code>Count</code>, <code>First</code> and <code>Last</code>
  will require the collection data to always get queried from the database on every change. Keep that in mind when creating performance critical tasks.
</div>

<h2>Limit</h2>
<p>
  In this example only the first 5 values are queried.
</p>

<app-doc>
  {{ values$ | async | json }}<br>
  <button m4-button (click)="addValue()">Add value</button>
  <div lang>
    <![CDATA[
    \f:(typescript:demo.component.ts)
    export class DemoComponent implements OnInit {\n
      \tvalues$: Observable<any>;\n

      \tconstructor(private db: SapphireDbService) { }\n\n

      \tngOnInit() {\n
        \t\tthis.values$ = this.db.collection<any>('entries')\n
          \t\t\t.take(5)\n
          \t\t\t.values();\n
      \t}\n
      }
      ]]>
  </div>
</app-doc>

<h2>Skip</h2>
<p>
  In this example the first 5 values are omitted.
</p>

<app-doc>
  {{ values2$ | async | json }}<br>
  <button m4-button (click)="addValue()">Add value</button>
  <div lang>
    <![CDATA[
    \f:(typescript:demo.component.ts)
    export class DemoComponent implements OnInit {\n
      \tvalues$: Observable<Entry[]>;\n

      \tconstructor(private db: SapphireDbService) { }\n\n

      \tngOnInit() {\n
    \t\tthis.values$ = this.db.collection<Entry>('entries')\n
    \t\t\t.skip(5)\n
    \t\t\t.values();\n
    \t}\n
    }
    ]]>
  </div>
</app-doc>

<h2>First/Last</h2>

<p>
  In this example the first and last value is selected.
</p>

<app-doc>
  First: {{ valueFirst$ | async | json }}<br>
  Last: {{ valueLast$ | async | json }}<br>
  <button m4-button (click)="addValue()">Add value</button>
  <div lang>
    <![CDATA[
    \f:(typescript:demo.component.ts)
    export class DemoComponent implements OnInit {\n
      \tvalueFirst$: Observable<Entry>;\n
      \tvalueLast$: Observable<Entry>;\n

      \tconstructor(private db: SapphireDbService) { }\n\n

      \tngOnInit() {\n
    \t\tthis.valueFirst$ = this.db.collection<Entry>('entries')\n
    \t\t\t.first()\n
    \t\t\t.values();\n\n

    \t\tthis.valueLast$ = this.db.collection<Entry>('entries')\n
      \t\t\t.last()\n
      \t\t\t.values();\n
    \t}\n
    }
    ]]>
  </div>
</app-doc>

<div class="remark warning">
  Note that the operation <code>last</code> cannot be performed on database side and will be evaluated in your backend application. Be careful when using it.
</div>

<a routerLink="../select">Continue with select prefilter <span class="mif-arrow-right"></span></a>
