<h1>Limit data - Take/Skip prefilter</h1>

<p>
  You can use the <code>take</code> and <code>skip</code> prefilters to control the queried data<br>
  With <code>skip</code> you omit the given count of values.<br>
  With <code>take</code> you limit the queried data.
</p>

<h2>Limit</h2>
<p>
  In this example only the first 5 values are queried.
</p>

<app-doc>
  {{ values$ | async | json }}<br>
  <button m4-button (click)="addValue()">Add value</button>
  <div lang>
    <![CDATA[
    \f:(typescript:demo.component.ts)
    export class DemoComponent implements OnInit {\n
      \tvalues$: Observable<any>;\n

      \tconstructor(private db: RealtimeDatabase) { }\n\n

      \tngOnInit() {\n
        \t\tthis.values$ = this.db.collection<any>('entries')\n
          \t\t\t.take(5)\n
          \t\t\t.values();\n
      \t}\n
      }
      ]]>
  </div>
</app-doc>

<h2>Skip</h2>
<p>
  In this example the first 5 values are omitted.
</p>

<app-doc>
  {{ values2$ | async | json }}<br>
  <button m4-button (click)="addValue()">Add value</button>
  <div lang>
    <![CDATA[
    \f:(typescript:demo.component.ts)
    export class DemoComponent implements OnInit {\n
      \tvalues$: Observable<any>;\n

      \tconstructor(private db: RealtimeDatabase) { }\n\n

      \tngOnInit() {\n
    \t\tthis.values$ = this.db.collection<any>('entries')\n
    \t\t\t.skip(5)\n
    \t\t\t.values();\n
    \t}\n
    }
    ]]>
  </div>
</app-doc>

<a routerLink="../select">Continue with select prefilter <span class="mif-arrow-right"></span></a>
