<div class="remark info" *m4Let="currentUser$ | async; let currentUser">
  <p class="text-bold">Use this controls to change the login state</p>
  <ng-container *ngIf="!currentUser; else hasUser">
    <p>You are currently not logged in</p>
    <button m4-button (click)="login('admin', 'admin')">Login as <b>admin</b></button>
    <button m4-button (click)="login('user', 'user')" class="ml-2">Login as <b>user</b></button>
  </ng-container>
  <ng-template #hasUser>
    <p>Current user: {{ currentUser }}</p>
    <button m4-button (click)="logout()">Logout</button>
  </ng-template>
</div>
