<h1>Client setup - Authentication</h1>

<p>
  Realtime database comes with methods for authentication and role-based authorization.<br>
  You can simply authenticate your client using the built in methods. It also comes with a user and role management.
</p>

<h2>Setup</h2>

<app-doc [showContent]="false">
  <div lang>
    <![CDATA[
    \f:(typescript:app.module.ts)
    @NgModule({\n
      \timports: [\n
        \t\tRealtimeDatabaseModule\n
      \t],\n
      \tproviders: [\n
        \t\t{\n
    \t\t\tprovide: REALTIME_DATABASE_OPTIONS,\n
    \t\t\tuseValue: {\n
            \t\t\t\tloginRedirect: 'dev/account/login',\n
            \t\t\t\tunauthorizedRedirect: 'dev/account/unauthorized',\n
          \t\t\t}\n
    \t\t}\n
      \t],\n
    })\n
    export class AppModule {}
    ]]>
  </div>
</app-doc>

<h2>Login</h2>

<app-doc [showContent]="false">
  <div lang>
    <![CDATA[
    \f:(typescript:login.component.ts)
    this.db.auth.login(username, password).subscribe((data: UserData) => {\n
      \t// Do something with user data here\n
    });
    ]]>
  </div>
</app-doc>

<div class="remark info">
  The login method will throw an error, if the credentials are wrong.
</div>

<h2>Auth guard</h2>

<div class="remark success">
  ng-realtime-database comes with an AuthGuard that can be used to check if the user is logged in and if the user is allowed to access specific routes.
</div>

<app-doc [showContent]="false">
  <div lang>
    <![CDATA[
    \f:(typescript:example-routing.module.ts)
    const routes: Routes = [\n
      \t{ path: '', component: MainComponent, canActivate: [ RealtimeAuthGuard ] }\n
      \t{ path: '', component: AdminComponent, canActivate: [ RealtimeAuthGuard ], data: { roles: ['admin'] } }\n
    ];\n\n

    @NgModule({\n
      \timports: [RouterModule.forChild(routes)],\n
      \texports: [RouterModule]\n
    })\n
    export class ExampleRoutingModule { }
    ]]>
  </div>
</app-doc>

<p>
  The user can only access the <code>MainComponent</code> when authenticated<br>
  The user is required to have the role <code>admin</code> to access <code>AdminComponent</code>
</p>

<h2>Access user data / Check logged in</h2>

<app-doc [showContent]="false">
  <div lang>
    <![CDATA[
    \f:(typescript:auth.component.ts)
    this.db.auth.getUserData().subscribe((data: UserData) => {\n
      \t// Do something with user data here\n
    });\n\n

    this.db.auth.isLoggedIn().subscribe((loggedIn: boolean) => {\n
      \t// Do something with data here\n
    });
    ]]>
  </div>
</app-doc>

<h2>Logout</h2>

<app-doc [showContent]="false">
  <div lang>
    <![CDATA[
    \f:(typescript:auth.component.ts)
    this.db.auth.logout();
    ]]>
  </div>
</app-doc>

<h2>Use custom authentication</h2>

<p>
  If you want to use other authentication methods just call <code>this.db.setBearer(...)</code> to update the clients
  to send this bearer to the server.
</p>
