<h1>Count data</h1>

<p>
  You can use the <code>count</code> prefilter to count the values of your collection.
</p>

<div class="remark warning">
  Note that the usage of the prefilter types <code>Take</code>, <code>Skip</code>, <code>Select</code>, <code>Count</code>, <code>First</code> and <code>Last</code>
  will require the collection data to always get queried from the database on every change. Keep that in mind when creating performance critical tasks.
</div>

<app-doc>
  {{ values$ | async | json }}<br>
  <button m4-button (click)="addValue()">Add value</button>
  <div lang>
    <![CDATA[
    \f:(typescript:demo.component.ts)
    export class DemoComponent implements OnInit {\n
      \tvalues$: Observable<number>;\n

      \tconstructor(private db: SapphireDb) { }\n\n

      \tngOnInit() {\n
    \t\tthis.values$ = this.db.collection<Entry>('entries')\n
    \t\t\t.count()\n
    \t\t\t.values();\n
    \t}\n
    }
    ]]>
  </div>
</app-doc>

