<h1>General - Authentication/Authorization</h1>

<p>
  SapphireDb has mechanisms to identity users and to control what the user is allowed to do.<br>
  Make sure to setup the server before trying to use this options: <a routerLink="../net-core">Server setup</a>
</p>

<h2>Attributes</h2>

<div class="remark success">
  SapphireDb includes auth attributes that can be used to control which user can do what.
</div>

<div class="remark info">
  Every auth-attribute can be used in three ways.
  <ol class="decimal">
    <li><b>Without attributes</b>: Authentication required</li>
    <li>
      <b>Policies</b>: A comma separated string of policy-names. All policies have to succeed. Check out
      <a href="https://docs.microsoft.com/de-de/aspnet/core/security/authorization/policies?view=aspnetcore-3.1" target="_blank" rel="noreferrer">Policies</a>
      for more details
    </li>
    <li><b>Function name</b>: You can optionally pass the name of a function in the class that has to return a boolean. The function will get executed to check if the user is allowed for the action.</li>
  </ol>

  <b>Multiple attributes</b>: You can define multiple Attributes for each model. Only one of the attributes defined condition has to succeed.<br>
  <b>Heredity</b>: If you define AuthAttributes for a base class all sub classes will inherit this attributes until custom attributes of the same type are defined in the subclasses.
</div>

<h3>Model attributes</h3>

<div class="remark success">
  The model attributes can be used on model classes to control which user can do what.
  Available model attributes: <code>[QueryAuth]</code>, <code>[CreateAuth]</code>, <code>[UpdateAuth]</code> and <code>[RemoveAuth]</code>.
</div>

<h3>Action attribute</h3>

<div class="remark success">
  The <code>[ActionAuth]</code>-attribute can be used on action handler classes or actions to control which user can do what.
</div>

<h2>Server options</h2>

<p>
  You can also control the permissions for some actions using the server side configuration.
  Check out this section for more details: <a routerLink="../../configuration/main">Server - Configuration</a>
</p>

<h2>Authenticate client</h2>

<p>
  You can authenticate the client using any method you like. <br>
  After obtaining a token you want to use for authentication pass it to sapphiredb by calling: <code>this.db.setAuthToken(AuthToken)</code>
</p>

<h3>Get auth state</h3>

<p>
  You can get the current state of authentication by calling: <code>this.db.getAuthTokenState()</code>
</p>

<h3>Define token on startup</h3>

<p>If you want to use a token that is stored anywhere else and use it on startup you can pass it as a parameter during configuration of SapphireDb</p>

<app-doc [showContent]="false">
  <div lang>
    <![CDATA[
    \f:(typescript:JS)
    var sapphiredb = require('sapphiredb');\n\n

    var db = new sapphiredb.SapphireDb(<options>, <storage>, <class-transformer>, <reponse-action-interceptor>, <auth-token>);

    \f:(typescript:Angular)
    @NgModule({\n
      \timports: [\n
        \t\tSapphireDbModule\n
      \t],\n
      \tproviders: [\n
        \t\t{\n
    \t\t\tprovide: SAPPHIRE_DB_STARTUP_TOKEN,\n
    \t\t\tuseValue: <auth-token>\n
      \t],\n
      })\n
  export class AppModule {}
      ]]>
    </div>

  </app-doc>
