<h1>Server - Events</h1>

<p>SapphireDb has different event hooks for models that can used to manipulate the behavior of the model when created, updated or removed</p>

<h2>General</h2>

<div class="remark info">
  The event hook is an attribute that can be applied to the model class.<br>
  Available event attributes: <code>[CreateEvent]</code>, <code>[UpdateEvent]</code> and <code>[RemoveEvent]</code>
</div>

<div class="remark success">
  Each event hook has three parameters. You can define a method name for every parameter.
  <ul>
    <li><b>before</b>: The method will get executed before the model get's manipulated by SapphireDb</li>
    <li><b>beforeSave</b>: The method will get executed before the model get's stored in database</li>
    <li><b>after</b>: The method will get executed after the model was stored in database</li>
    <li><b>insteadOf</b>: The method will get executed instead of performing any operation (useful for soft delete functionality for example)</li>
  </ul>
</div>

<div class="remark success">
  You can use dependency injection for the method. SapphireDb will provide you a <code>HttpInformation</code>-object with information about the request and the instances found in the <code>DI-Container</code>.
</div>

<div class="remark info">
  Event hooks of base classes get inherited and will also get executed in case of an event.
</div>

<h2>Example</h2>

<p>
  This example demonstrates the use of event attributes.<br>
  The example has 5 event-methods.<br>
  Two of the methods update the date fields when the model is created or updated.<br>
  The other methods create entries in the collection logs for each action.
</p>

<m4-panel cls-panel="mt-2" [collapsible]="true" [collapsed]="true" title="Source">
  <app-doc [showContent]="false">
    <div lang>
      <![CDATA[
      \f:(csharp:EventDemo.cs)
      [CreateEvent(Before = nameof(OnCreate), After = nameof(OnCreated))]\n
      [UpdateEvent(Before = nameof(OnUpdate), After = nameof(OnUpdated))]\n
      [RemoveEvent(After = nameof(OnRemoved))]\n
      public class EventDemo\n
      {\n
        \t[Key]\n
        \tpublic Guid Id { get; set; }\n\n

        \tpublic DateTime CreatedOn { get; set; }\n\n

        \tpublic DateTime UpdatedOn { get; set; }\n\n

        \t[Updatable]\n
        \tpublic string Content { get; set; }\n\n

        \tprivate void OnCreate()\n
        \t{\n
          \t\tCreatedOn = DateTime.Now;\n
        \t}\n\n

        \tprivate void OnCreated(DemoContext demoContext)\n
        \t{\n
          \t\tdemoContext.Logs.Add(new Log()\n
          \t\t{\n
            \t\t\tContent = $"Created {Content}"\n
          \t\t});\n
          \t\tdemoContext.SaveChanges();\n
        \t}\n\n

        \tprivate void OnUpdate()\n
        \t{\n
          \t\tUpdatedOn = DateTime.Now;\n
        \t}\n\n

        \tprivate void OnUpdated(DemoContext demoContext)\n
        \t{\n
          \t\tdemoContext.Logs.Add(new Log()\n
          \t\t{\n
            \t\t\tContent = $"Updated {Content}"\n
          \t\t});\n
          \t\tdemoContext.SaveChanges();\n
        \t}\n\n

        \tprivate void OnRemoved(DemoContext demoContext)\n
        \t{\n
          \t\tdemoContext.Logs.Add(new Log()\n
          \t\t{\n
            \t\t\tContent = $"Removed {Content}"\n
          \t\t});\n
          \t\tdemoContext.SaveChanges();\n
        \t}\n
      }

      \f:(csharp:Log.cs)
      public class Log\n
      {\n
        \t[Key]\n
        \tpublic Guid Id { get; set; }\n\n

        \tpublic string Content { get; set; }\n
      }
      ]]>
    </div>
  </app-doc>
</m4-panel>

<h3>Values</h3>

<div *ngFor="let value of values$ | async">
  <span [innerText]="value | json"></span>
  <button m4-button (click)="update(value)"><span class="mif-pencil"></span></button>
  <button m4-button (click)="remove(value)"><span class="mif-cross"></span></button>
</div>

<button m4-button (click)="create()">Add</button>

<h3>Logs</h3>

<div *ngFor="let log of logs$ | async">
  {{ log | json }}
</div>
