<h1>Collection information</h1>

<p>
  SapphireDb includes methods to get information about the collection.
  This is useful if you dont know if the client instance is allowed to access the collection.
</p>

<h2>Get collection information</h2>

<app-doc [showContent]="false">
  <div lang>
    <![CDATA[
    \f:(typescript:demo.component.ts)
    export class DemoComponent implements OnInit {\n
    \tinfo: AuthCollectionInfo;\n\n

    \tconstructor(private db: SapphireDb) { }\n\n

    \tngOnInit() {\n
    \t\tthis.info = this.db.collection('entries').authInfo;\n
    \t}\n
    }
    ]]>
  </div>
</app-doc>

<h2>Check access</h2>

<p>ng-sapphiredb provides multiple methods to check if the user can access the collection</p>

<app-doc [showContent]="false">
  <div lang>
    <![CDATA[
    \f:(typescript:demo.component.ts)
    // Checks if authentication is required for query\n
    this.info.queryAuth(),\n\n
    // Checks if the roles can query\n
    this.info.canQuery(roles),\n\n
    // Checks if authentication is required for create\n
    this.info.createAuth(),\n\n
    // Checks if the roles can create\n
    this.info.canCreate(roles),\n\n
    // Checks if authentication is required for update\n
    this.info.updateAuth(),\n\n
    // Checks if the roles can update\n
    this.info.canUpdate(roles),\n\n
    // Checks if authentication is required for remove\n
    this.info.removeAuth(),\n\n
    // Checks if the roles can remove\n
    this.info.canRemove(roles),\n\n
    // Checks if authentication is required for query of property firstname\n
    this.info.queryPropertyAuth('firstName'),\n\n
    // Checks if the roles can query the property firstname\n
    this.info.canQueryProperty('firstName', roles),\n\n
    // Checks if authentication is required for update of firstname\n
    this.info.updatePropertyAuth('firstName'),\n\n
    // Checks if the roles can update the property firstname\n
    this.info.canUpdateProperty('firstName', roles)\n
    ]]>
  </div>
</app-doc>
