<h1>Get started - Setup server</h1>

<p>
  Realtime database server runs on an Asp.Net Core application. First step is to setup the server to use Realtime database.<br>
  You need to have a working Asp.Net Core application and a configured DbContext.
</p>

<h2>Installation</h2>

<h3>Install package</h3>
<p class="mb-5">To install the package execute the following command in your package manager console</p>

<pre><code [highlight]="'PM> Install-Package RealtimeDatabase'" [languages]="[ 'ps' ]"></code></pre>

<p>
  You can also install the extension using Nuget package manager. The project can be found here:
  <a href="https://www.nuget.org/packages/RealtimeDatabase/" target="_blank">https://www.nuget.org/packages/RealtimeDatabase/</a>
</p>

<h3>Configure DbContext</h3>
<p>You now have to change your DbContext to derive from <code>RealtimeContext</code>. Also make sure to adjust the constructor parameters.</p>

<app-doc [showContent]="false">
  <div lang>
    <![CDATA[
    \f:(csharp:MyDbContext.cs)
    // Change DbContext to RealtimeDbContext\n
    public class MyDbContext : RealtimeDbContext\n
    {\n
      \t//Add RealtimeDatabaseNotifier for DI\n
      \tpublic RealtimeContext(DbContextOptions<RealtimeContext> options, RealtimeDatabaseNotifier notifier) : base(options, notifier)\n
      \t{\n\n

      \t}\n\n

      \tpublic DbSet<User> Users { get; set; }\n\n

      \tpublic DbSet<Test> Tests { get; set; }\n
    }
    ]]>
  </div>
</app-doc>

<h3>Register services and update pipeline</h3>
<p>To use the realtime database you also have to make some changes in your <code>Startup.cs</code>-File.</p>

<app-doc [showContent]="false">
  <div lang>
    <![CDATA[
    \f:(csharp:Startup.cs)
    public class Startup\n
    {\n
      \tpublic void ConfigureServices(IServiceCollection services)\n
      \t{\n
        \t\t//Register services\n
        \t\tservices.AddRealtimeDatabase(...)\n
          \t\t\t.AddContext<MyDbContext>(cfg => ...);\n
      \t}\n\n

      \tpublic void Configure(IApplicationBuilder app)\n
      \t{\n
        \t\t//Add Middleware\n
        \t\tapp.UseRealtimeDatabase();\n
      \t}\n
    }
    ]]>
  </div>
</app-doc>

<h2>Done</h2>

<p>Your realtime database server should now work.</p>
<a routerLink="../angular">Continue with the setup of a client <span class="mif-arrow-right"></span></a>
