<h1>Authorization - Action attribute</h1>

<div class="remark success">
  The <code>[ActionAuth]</code>-attribute can be used on action handler classes or actions to control which user can do what.
</div>

<div class="remark info">
  Every auth-attribute can be used in three ways.
  <ol class="decimal">
    <li><b>Without attributes</b>: Authentication required</li>
    <li><b>Array of strings</b>: The user has to be in one of the given roles</li>
    <li><b>String</b>: The string is the name of a boolean-function that is executed for every user</li>
  </ol>
  <a routerLink="../attributes">Read more about the usage of attributes</a>
</div>

<h2>Example - Action handler authorization</h2>

<p>To execute any of the action of the handler the user has to be authenticated</p>

<app-doc [showContent]="false">
  <div lang>
    <![CDATA[
    \f:(csharp:ExampleActions.cs)
    [ActionAuth]\n
    public class ExampleActions : ActionHandlerBase\n
    {\n
      \tpublic int GetNumber()\n
      \t{\n
        \t\treturn 37;\n
      \t}\n\n

      \tpublic int GetNumber2()\n
      \t{\n
        \t\treturn 11;\n
      \t}\n
    }
    ]]>
  </div>
</app-doc>

<h2>Example - Action authorization</h2>

<p>To execute <code>GetNumbers2</code> the user has to be authenticated</p>

<app-doc [showContent]="false">
  <div lang>
    <![CDATA[
    \f:(csharp:ExampleActions.cs)
    public class ExampleActions : ActionHandlerBase\n
    {\n
      \tpublic int GetNumber()\n
      \t{\n
    \t\treturn 37;\n
    \t}\n\n

      \t[ActionAuth]\n
      \tpublic int GetNumber2()\n
      \t{\n
    \t\treturn 11;\n
    \t}\n
    }
    ]]>
  </div>
</app-doc>

