<h1>Server - Attributes</h1>

<div class="remark success">
  SapphireDb includes auth attributes that can be used to control which user can do what.
</div>

<div class="remark info">
  Every auth-attribute can be used in three ways.
  <ol class="decimal">
    <li><b>Without attributes</b>: Authentication required</li>
    <li><b>Array of strings</b>: The user has to be in one of the given roles</li>
    <li><b>String</b>: The string is the name of a boolean-function that is executed for every user</li>
  </ol>
</div>

<h2>Example usage</h2>

<h3>Without attributes</h3>

<div class="remark info">
  The class <code>DemoEntry</code> is now only queryable by authenticated users.
</div>

<app-doc [showContent]="false">
  <div lang>
    <![CDATA[
    \f:(csharp:DemoEntry.cs)
    [QueryAuth]\n
    public class DemoEntry\n
    {\n
    \t[Key]\n
    \tpublic int Id { get; set; }\n\n

    \tpublic string Content { get; set; }\n
    }
    ]]>
  </div>
</app-doc>

<h3>Roles</h3>

<div class="remark info">
  The class <code>DemoEntry</code> is now only queryable by authenticated users that are in role <code>admin</code> or <code>user</code>.
</div>

<app-doc [showContent]="false">
  <div lang>
    <![CDATA[
    \f:(csharp:DemoEntry.cs)
    [QueryAuth(new []{ "admin", "user" })]\n
    public class DemoEntry\n
    {\n
    \t[Key]\n
    \tpublic int Id { get; set; }\n\n

    \tpublic string Content { get; set; }\n
    }
    ]]>
  </div>
</app-doc>

<h3>Function</h3>

<div class="remark info">
  The class <code>DemoEntry</code> is now only queryable by authenticated users. The check if the user allowed
  to query is made by calling the method <code>CheckAuth</code>. If the method returns true the user is allowed.
</div>

<div class="remark success">
  You can use dependency injection for the method. SapphireDb will provide you the current <code>HttpContext</code>
  and the instances found in the <code>DI-Container</code>.
</div>

<app-doc [showContent]="false">
  <div lang>
    <![CDATA[
    \f:(csharp:DemoEntry.cs)
    [QueryAuth("CheckAuth")]\n
    public class DemoEntry\n
    {\n
      \tpublic bool CheckAuth(HttpContext context)\n
      \t{\n
    \t\treturn context.User.Identity.IsAuthenticated;\n
    \t}\n\n

      \t[Key]\n
      \tpublic int Id { get; set; }\n\n

      \tpublic string Content { get; set; }\n
    }
    ]]>
  </div>
</app-doc>

