<h1>Connection management</h1>

<p>
  For authenticated users you can use this methods to manage the connections of the current user. The user can query the current connections
  and close them.
</p>

<h2>Query connections</h2>

<app-doc [showContent]="false">
  <div lang>
    <![CDATA[
    \f:(typescript:manage-connections.component.ts)
    connectionData$: Observable<ConnectionResponse>;\n\n

    constructor(private db: RealtimeDatabase) { }\n\n

    ngOnInit() {\n
      \tthis.connectionData$ = this.db.auth.getConnectionData();\n
    }
    ]]>
  </div>
</app-doc>

<h2>Close connection</h2>

<app-doc [showContent]="false">
  <div lang>
    <![CDATA[
    \f:(typescript:manage-connections.component.ts)
    this.db.auth.closeConnection(connection.id, true).subscribe(() => {\n
      \t// Do something after connection was closed\n
    });
    ]]>
  </div>
</app-doc>
