<h1>Get started - Setup JS client</h1>

<p>
  sapphiredb is a client implementation for Javascript. It also works with NodeJs.
</p>

<h2>Installation</h2>

<h3>Install package</h3>
<p class="mb-5">To install the package execute the following command in your console</p>

<pre><code [highlight]="'npm install -S sapphiredb rxjs axios'" [languages]="[ 'ps' ]"></code></pre>

<p>
  You can find the project here:
  <a href="https://www.npmjs.com/package/sapphiredb" target="_blank">https://www.npmjs.com/package/sapphiredb</a>
</p>

<h3>Create <code>SapphireDb</code> instace</h3>

<app-doc [showContent]="false">
  <div lang>
    <![CDATA[
    \f:(typescript:app.module.ts)
    var sapphiredb = require('sapphiredb');\n\n

    var db = new sapphiredb.SapphireDb({\n
      \tserverBaseUrl: 'localhost:5000',\n
      \tuseSsl: false,\n
      \tapiKey: 'webapp',\n
      \tapiSecret: 'pw1234'\n
    });\n\n

    db.collection('demo.entries').values().subscribe(function (values) {\n
      \tconsole.log(values);\n
    });
    ]]>
  </div>
</app-doc>

<h4>Use websockets on NodeJs</h4>

<p>
  sapphiredb also works in a NodeJs application. It will use polling as communication strategy by default. If you want to use websockets you have to install an external library for that.
</p>

<pre><code [highlight]="'npm install -S ws'" [languages]="[ 'ps' ]"></code></pre>

<app-doc [showContent]="false">
  <div lang>
    <![CDATA[
    \f:(typescript:app.module.ts)
    var sapphiredb = require('sapphiredb');\n\n

    var ws = require('ws');\n
    WebSocket = ws;\n\n

    var db = new sapphiredb.SapphireDb({\n
      \tserverBaseUrl: 'localhost:5000',\n
      \tuseSsl: false,\n
      \tapiKey: 'webapp',\n
      \tapiSecret: 'pw1234'\n
    });\n\n

    db.collection('demo.entries').values().subscribe(function (values) {\n
      \tconsole.log(values);\n
    });
    ]]>
  </div>
</app-doc>

<h2>Compatibility</h2>

<table class="table">
  <thead>
  <tr>
    <th class="w-25">Browser/Engine</th>
    <th class="w-25">Websocket</th>
    <th class="w-25">SSE</th>
    <th class="w-25">Polling</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Chrome</td>
    <td class="success"><m4-icon icon="checkmark"></m4-icon></td>
    <td class="success"><m4-icon icon="checkmark"></m4-icon></td>
    <td class="success"><m4-icon icon="checkmark"></m4-icon></td>
  </tr>

  <tr>
    <td>Firefox</td>
    <td class="success"><m4-icon icon="checkmark"></m4-icon></td>
    <td class="alert"><m4-icon icon="cross"></m4-icon></td>
    <td class="success"><m4-icon icon="checkmark"></m4-icon></td>
  </tr>

  <tr>
    <td>Opera</td>
    <td class="success"><m4-icon icon="checkmark"></m4-icon></td>
    <td class="alert"><m4-icon icon="cross"></m4-icon></td>
    <td class="success"><m4-icon icon="checkmark"></m4-icon></td>
  </tr>

  <tr>
    <td>Edge</td>
    <td class="success"><m4-icon icon="checkmark"></m4-icon></td>
    <td class="alert"><m4-icon icon="cross"></m4-icon></td>
    <td class="success"><m4-icon icon="checkmark"></m4-icon></td>
  </tr>

  <tr>
    <td>Internet Explorer 11</td>
    <td class="success"><m4-icon icon="checkmark"></m4-icon></td>
    <td class="alert"><m4-icon icon="cross"></m4-icon></td>
    <td class="success"><m4-icon icon="checkmark"></m4-icon></td>
  </tr>

  <tr>
    <td>NodeJs</td>
    <td class="success"><m4-icon icon="checkmark"></m4-icon></td>
    <td class="alert"><m4-icon icon="cross"></m4-icon></td>
    <td class="success"><m4-icon icon="checkmark"></m4-icon></td>
  </tr>
  </tbody>
</table>

<h3>Technology support</h3>

JS, NodeJs, React, Svelte ...

<h2>Example</h2>

<p>
  You can also check out the example projects:<br>
  <a href="https://github.com/SapphireDb/Example-NodeJs" target="_blank"><span class="mif-github"></span> NodeJs Example</a><br>
  <a href="https://github.com/SapphireDb/Example-React" target="_blank"><span class="mif-github"></span> React Example</a><br>
  <a href="https://github.com/SapphireDb/Example-Svelte" target="_blank"><span class="mif-github"></span> Svelte Example</a><br>
</p>

<h2>Done</h2>

<p>Your SapphireDb-client should now work.</p>
<a routerLink="../../data">Start using it by querying data <span class="mif-arrow-right"></span></a>
