<header class="app-bar bg-blue fg-white" data-role="appbar" data-expand-point="md">
  <a href="" class="d-block brand fg-white no-hover">
    <span class="border bd-white border-radius p-2">Realtime Database</span>
  </a>
  <ul class="app-bar-menu ml-auto">
    <li><a href="home">Home</a></li>


    <li>
      <a href="#" class="dropdown-toggle">More</a>
      <ul class="d-menu" data-role="dropdown">
        <li><a href="">Dropdown link 1</a></li>
        <li><a href="">Dropdown link 2</a></li>
      </ul>
    </li>

    <li>
      <a href="https://github.com/morrisjdev/RealtimeDatabase" target="_blank">
        <span class="mif-github mif-2x d-none d-block-md"></span>
        <span class="d-block d-none-md">Github</span>
      </a>
    </li>
  </ul>
</header>

<div class="container-fluid">
  <div class="row flex-xl-nowrap">
    <div class="col-12">
      <h1>Demo Client for Realtime Database</h1>

      {{ status$ | async }}

      <button m4-button (click)="logout()">Logout</button>

      <p *ngIf="(userInfo$ | async) as user">
        Username: {{user.userName}}<br>
        {{user | json}}
      </p>
    </div>

    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
