<header class="app-bar bg-blue fg-white" data-role="appbar" data-expand-point="md">
  <a routerLink="" class="d-block brand fg-white no-hover">
    <span class="border bd-white border-radius p-2">Realtime database</span>
  </a>
  <ul class="app-bar-menu ml-auto">
    <li>
      <a href="#" class="dropdown-toggle">Home</a>
      <ul class="d-menu" data-role="dropdown">
        <li><a routerLink="start">Start</a></li>
        <li class="divider bg-lightGray"></li>
        <li><a routerLink="start/net-core">Server - Asp.Net Core</a></li>
        <li><a routerLink="start/angular">Client - Angular</a></li>
        <li class="divider bg-lightGray"></li>
        <li><a routerLink="start/connection-types">Connection types</a></li>
      </ul>
    </li>

    <li>
      <a href="#" class="dropdown-toggle">Data</a>
      <ul class="d-menu" data-role="dropdown">
        <li><a routerLink="data">Query data</a></li>
        <li><a routerLink="data/manage">Manage data</a></li>
        <li class="divider bg-lightGray"></li>
        <li><a routerLink="data/prefilter">Prefilters</a></li>
        <li><a routerLink="data/where">Filter data</a></li>
        <li><a routerLink="data/order">Order data</a></li>
        <li><a routerLink="data/limit">Limit data</a></li>
        <li><a routerLink="data/select">Select data</a></li>
        <li><a routerLink="data/count">Count data</a></li>
        <li class="divider bg-lightGray"></li>
        <li><a routerLink="data/info">Collection info</a></li>
        <li><a routerLink="data/events">Events</a></li>
        <li><a routerLink="data/query-function">Query function</a></li>
      </ul>
    </li>

    <li>
      <a href="#" class="dropdown-toggle">Security</a>
      <ul class="d-menu" data-role="dropdown">
        <li><a routerLink="security">Authentication</a></li>
        <li><a routerLink="security/net-core">Server setup - Asp.Net Core</a></li>
        <li><a routerLink="security/angular">Client setup - Angular</a></li>
        <li><a routerLink="security/manage">Manage users/roles</a></li>
        <li><a routerLink="security/authorization">Authorization</a></li>
        <li class="divider bg-lightGray"></li>
        <li><a routerLink="security/attributes">Attributes</a></li>
        <li><a routerLink="security/model-attributes">Model attributes</a></li>
        <li><a routerLink="security/action-attributes">Action attributes</a></li>
        <li class="divider bg-lightGray"></li>
        <li><a routerLink="security/connection-management">Connection management</a></li>
      </ul>
    </li>

    <li><a routerLink="actions">Actions</a></li>

    <li><a routerLink="messaging">Messaging</a></li>

    <li><a routerLink="configuration">Configuration</a></li>

    <li>
      <a href="#" class="dropdown-toggle">Demos</a>
      <ul class="d-menu" data-role="dropdown">
        <li><a routerLink="demos/chat">Chat</a></li>
      </ul>
    </li>

    <li>
      <a href="https://github.com/morrisjdev/RealtimeDatabase" target="_blank">
        <span class="mif-github mif-2x d-none d-block-md"></span>
        <span class="d-block d-none-md">Github</span>
      </a>
    </li>
  </ul>
</header>

<div class="container-fluid">
  <div class="row flex-xl-nowrap">
    <div [ngClass]="router.url === '/start/main' ? 'cell-12' : 'cell-md-8 offset-md-2'">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
