<div class="page-container">
  <header class="app-bar bg-darkBlue fg-white" data-role="appbar" data-expand-point="md">
    <a routerLink="" class="d-block brand fg-white">
      <span class="border bd-white border-radius p-2">SapphireDb</span>
    </a>
    <ul class="app-bar-menu ml-auto collapsed" style="display: none">
      <li>
        <a href="#" class="dropdown-toggle">Getting started</a>
        <ul class="d-menu" data-role="dropdown">
          <li><a routerLink="start/net-core">Server - Asp.Net Core</a></li>
          <li><a routerLink="start/angular">Client - Angular</a></li>
          <li class="divider bg-lightGray"></li>
          <li><a routerLink="start/implementations">Implementations</a></li>
          <li class="divider bg-lightGray"></li>
          <li><a routerLink="start/contribution">Contribution</a></li>
        </ul>
      </li>

      <li>
        <a href="#" class="dropdown-toggle">Data</a>
        <ul class="d-menu" data-role="dropdown">
          <li><a routerLink="data">Query data</a></li>
          <li><a routerLink="data/manage">Manage data</a></li>
          <li class="divider bg-lightGray"></li>
          <li><a routerLink="data/prefilter">Prefilters</a></li>
          <li><a routerLink="data/where">Filter data</a></li>
          <li><a routerLink="data/order">Order data</a></li>
          <li><a routerLink="data/limit">Limit data</a></li>
          <li><a routerLink="data/select">Select data</a></li>
          <li><a routerLink="data/count">Count data</a></li>
          <li><a routerLink="data/include">Include/Join</a></li>
          <li class="divider bg-lightGray"></li>
          <li><a routerLink="data/class-transformer">Class transformer</a></li>
          <li><a routerLink="data/model-validation">Model validation</a></li>
          <li><a routerLink="data/changes">Changes</a></li>
          <li><a routerLink="data/events">Events</a></li>
          <li><a routerLink="data/query-function">Query function</a></li>
        </ul>
      </li>

      <li>
        <a href="#" class="dropdown-toggle">Security</a>
        <ul class="d-menu" data-role="dropdown">
          <li><a routerLink="security/general">General</a></li>
          <li><a routerLink="security/net-core">Server setup - Asp.Net Core</a></li>
          <li class="divider bg-lightGray"></li>
          <li><a routerLink="security/query-auth">Query</a></li>
          <li><a routerLink="security/update-auth">Update</a></li>
          <li><a routerLink="security/create-auth">Create</a></li>
          <li><a routerLink="security/remove-auth">Remove</a></li>
          <li><a routerLink="security/action-auth">Execute</a></li>
        </ul>
      </li>

      <li><a routerLink="actions">Actions</a></li>

      <li><a routerLink="messaging">Messaging</a></li>

      <li>
        <a href="#" class="dropdown-toggle">Configuration</a>
        <ul class="d-menu" data-role="dropdown">
          <li><a routerLink="configuration">General</a></li>
          <li><a routerLink="configuration/nlb">Sync/NLB</a></li>
          <li><a routerLink="configuration/connection-types">Connection types</a></li>
          <li><a routerLink="configuration/fluent">Fluent configuration</a></li>
        </ul>
      </li>

      <li>
        <a href="#" class="dropdown-toggle">Demos</a>
        <ul class="d-menu" data-role="dropdown">
          <li><a routerLink="demos/chat">Chat</a></li>
          <li><a routerLink="demos/editor">Editor</a></li>
          <li><a routerLink="demos/pixels">Pixels</a></li>
          <li class="divider bg-lightGray"></li>
          <li><a routerLink="demos/stackblitz">Stackblitz Starter</a></li>
        </ul>
      </li>

      <li>
        <a href="https://www.patreon.com/morrisjdev" target="_blank">
          Support Me
        </a>
      </li>

      <li>
        <a href="https://github.com/SapphireDb" target="_blank">
          <span class="mif-github mif-2x d-none d-block-md"></span>
          <span class="d-block d-none-md">Github</span>
        </a>
      </li>
    </ul>
  </header>

  <div class="container-fluid page-content">
    <div class="row">
      <div [ngClass]="router.url === '/start/main' ? 'cell-12' : 'cell-md-8 offset-md-2'">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

  <footer class="bg-light footer-position">
    <div class="container pt-4 pb-5">
      <div class="text-center">
        <ul class="inline-list reduce-1">
          <li><a href="https://github.com/morrisjdev/SapphireDb" target="_blank">SapphireDb <span class="mif-github"></span></a></li>
          <li><a href="https://github.com/morrisjdev/ng-sapphiredb" target="_blank">ng-sapphiredb <span class="mif-github"></span></a></li>
        </ul>
      </div>

      <div class="text-center mt-5">
        <ul class="inline-list reduce-1 mb-0">
          <li><a href="https://github.com/morrisjdev/SapphireDb/blob/master/LICENSE" target="_blank">License</a></li>
          <li><a href="https://github.com/morrisjdev" target="_blank">Author</a></li>
          <li><a href="https://github.com/morrisjdev/SapphireDb/issues" target="_blank">Issues</a></li>
          <li><a href="https://github.com/morrisjdev/SapphireDb/releases" target="_blank">Releases</a></li>
        </ul>
        <ul class="inline-list reduce-1 mt-0">
          <li><a routerLink="legal-details">Legal details</a></li>
          <li><a routerLink="privacy">Privacy Policy</a></li>
        </ul>
      </div>


      <div class="text-center mt-5 reduce-1">
        ng-sapphiredb &copy; 2018-2019 by <a href="https://github.com/morrisjdev" class="no-wrap" target="_blank">morrisjdev</a>.<br>
        SapphireDb &copy; 2018-2019 by <a href="https://github.com/morrisjdev" class="no-wrap" target="_blank">morrisjdev</a>.
      </div>
    </div>
  </footer>

</div>

<div class="fixed-bottom bg-grayWhite p-2" *ngIf="showConsent">
  <p>
    This website uses Google Analytics. If you want to disable it just unselect the option:
  </p>
  <m4-checkbox caption="Enable Analytics" [(ngModel)]="enableAnalytics"></m4-checkbox>
  <button m4-button (click)="closeConsent(!enableAnalytics)">Store preferences and close</button>
</div>
