<h1>Remove - Authentication/Authorization</h1>

<p>You can use the <code>[RemoveAuth]</code>-Attribute to control the permission of a user to remove data from the collection.</p>

<h2>Usage</h2>

<p>The <code>[RemoveAuth]</code>-Attribute can be used on the model class</p>

<div class="remark info">
  Every auth-attribute can be used in three ways.
  <ol class="decimal">
    <li><b>Without attributes</b>: Authentication required</li>
    <li>
      <b>Policies</b>: A comma separated string of policy-names. All policies have to succeed. Check out
      <a href="https://docs.microsoft.com/de-de/aspnet/core/security/authorization/policies?view=aspnetcore-3.1" target="_blank">Policies</a>
      for more details
    </li>
    <li><b>Function name</b>: You can optionally pass the name of a function in the class that has to return a boolean. The function will get executed to check if the user is allowed for the action.</li>
  </ol>

  <b>Multiple attributes</b>: You can define multiple Attributes for each model. Only one of the attributes defined condition has to succeed.<br>
  <b>Heredity</b>: If you define AuthAttributes for a base class all sub classes will inherit this attributes until custom attributes of the same type are defined in the subclasses.
</div>

<p>The usage equals the usage of the <code>[QueryAuth]</code>-Attribute. Check out the <a routerLink="../query-auth">Documentation for Query</a></p>
