<h1>Authorization</h1>

<p>
  You also want to control what the user is allowed to do and what not. Realtime database comes with some
  mechanisms to control that.
</p>

<h2>Server - Attributes</h2>

<div class="remark success">
  Realtime database includes auth attributes that can be used to control which user can do what.
</div>

<div class="remark info">
  Every auth-attribute can be used in three ways.
  <ol class="decimal">
    <li><b>Without attributes</b>: Authentication required</li>
    <li><b>Array of strings</b>: The user has to be in one of the given roles</li>
    <li><b>String</b>: The string is the name of a boolean-function that is executed for every user</li>
  </ol>
  <a routerLink="../attributes">Read more about the usage of attributes</a>
</div>

<h3>Model attributes</h3>

<div class="remark success">
  The model attributes can be used on model classes to control which user can do what.
  Available model attributes: <code>[QueryAuth]</code>, <code>[CreateAuth]</code>, <code>[UpdateAuth]</code> and <code>[RemoveAuth]</code><br>
  <a routerLink="../model-attributes">Read more about model attributes</a>
</div>

<h3>Action attribute</h3>

<div class="remark success">
  The <code>[ActionAuth]</code>-attribute can be used on action handler classes or actions to control which user can do what.<br>
  <a routerLink="../action-attributes">Read more about action attribute</a>
</div>

<h2>Client - Auth guard</h2>

<div class="remark success">
  ng-realtime-database comes with an AuthGuard that can be used to check if the user is logged in and if the user is allowed to access specific routes.
</div>

<app-doc [showContent]="false">
  <div lang>
    <![CDATA[
    \f:(typescript:example-routing.module.ts)
    const routes: Routes = [\n
    \t{ path: '', component: MainComponent, canActivate: [ RealtimeAuthGuard ] }\n
    \t{ path: '', component: AdminComponent, canActivate: [ RealtimeAuthGuard ], data: { roles: ['admin'] } }\n
    ];\n\n

    @NgModule({\n
      \timports: [RouterModule.forChild(routes)],\n
      \texports: [RouterModule]\n
    })\n
    export class ExampleRoutingModule { }
    ]]>
  </div>
</app-doc>
