<h1>Implementations</h1>

<h2>Server</h2>

<table class="table">
  <thead>
    <tr>
      <th class="w-25">Project</th>
      <th class="w-25">Technology</th>
      <th class="w-25">Get started</th>
      <th class="w-25">Example</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <a href="https://github.com/morrisjdev/SapphireDb" target="_blank"><span class="mif-github"></span> SapphireDb</a>
      </td>
      <td>Asp.Net Core</td>
      <td><a routerLink="../net-core">Get started</a></td>
      <td><a href="https://github.com/SapphireDb/Example-AspNetCore" target="_blank"><span class="mif-github"></span> Example</a></td>
    </tr>
  </tbody>
</table>

<h2>Client</h2>

<table class="table">
  <thead>
  <tr>
    <th class="w-25">Project</th>
    <th class="w-25">Technology</th>
    <th class="w-25">Get started</th>
    <th class="w-25">Example</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <a href="https://github.com/morrisjdev/ng-sapphiredb" target="_blank"><span class="mif-github"></span> ng-sapphiredb</a>
    </td>
    <td>Angular</td>
    <td><a routerLink="../angular">Get started</a></td>
    <td><a href="https://github.com/SapphireDb/Example-Angular" target="_blank"><span class="mif-github"></span> Example</a></td>
  </tr>
  </tbody>
</table>



