<h1>Include/Join</h1>

<p>
  If you are using relations in you database you sometimes want to resolve them on server side and get the complete object to the client.<br>
  You can control that by using the <code>include</code> operation (It works like the include operation of EF Core). It will perform a join operation on database side.
</p>

<h2>Example</h2>

<p>
  This example consists of two models: A user object with entries and the entries with a reference to the user.
</p>

<h3>Display users with entries</h3>

<p>
  This basic example shows how to query data with its navigation properties included
</p>

<div class="remark info">
  Note that the complete referenced object is loaded when using a join operation. No check for auth will be made. The result contains the complete object.
</div>

<app-doc>
  <div class="mt-2 border bd-blue" *ngFor="let value of users$ | async">
    Name: {{ value.name }}, Id: {{ value.id }}<br>
    <div class="m-2 border bd-green">
      Entries: <br>
      <div class="m-2 border bd-red" *ngFor="let entry of value.entries">
        {{ entry.content }}
      </div>
    </div>
    <div class="text-right-sm p-2">
      <button m4-button class="mr-1" (click)="createEntryForUser(value)">Create entry</button>
      <button m4-button class="mr-1" (click)="updateUser(value)">Update username</button>
      <button m4-button (click)="deleteUser(value)">Delete user</button>
    </div>
  </div>

  <div class="text-right-sm mt-2">
    <button m4-button (click)="createUser()">Add user</button>
  </div>

  <div lang>
    <![CDATA[
    \f:(typescript:Angular)
    export class DemoComponent implements OnInit {\n
      \tprivate userCollection: DefaultCollection<User>;\n
      \tpublic users$: Observable<User[]>;\n\n

      \tconstructor(private db: SapphireDbService) {\n
        \t\tthis.userCollection = this.db.collection('Users').include('entries');\n
        \t\tthis.users$ = this.userCollection.values();\n
      \t}\n
    }

    \f:(csharp:User.cs:Server)
    public class User\n
    {\n
      \t[Key]\n
      \tpublic Guid Id { get; set; }\n\n

      \tpublic List<Entry> Entries { get; set; }\n\n

      \tpublic string Name { get; set; }\n
    }

    \f:(csharp:Entry.cs:Server)
    public class Entry\n
    {\n
      \t[Key]\n
      \tpublic Guid Id { get; set; }\n\n

      \t[ForeignKey("User")]\n
      \tpublic Guid UserId { get; set; }\n\n

      \tpublic User User { get; set; }\n\n

      \tpublic string Content { get; set; }\n
    }

    \f:(csharp:DatabaseContext.cs:Server)
    public class DemoContext : SapphireDbContext\n
    {\n
      \tpublic DemoContext(DbContextOptions<DemoContext> options, SapphireDatabaseNotifier notifier) : base(options, notifier) {}\n\n

      \tpublic DbSet<User> Users { get; set; }\n
      \tpublic DbSet<UserEntry> UserEntries { get; set; }\n
    }
    ]]>
  </div>
</app-doc>

<h3>Create/Update user entries</h3>

<p>
  You can also update/create entries that are loaded by including them in the normal update operations.
</p>

<div class="remark info">
  Creating/Updating objects through the navigation property is not always recommended because the operation ignores all specified auth rules.<br>
  If you want to disable the possibility to edit the values using this way remove the <code>[Updatable]</code>-attribute from the navigation property and add the attribute <code>[NonCreatable]</code> to it.
</div>

<app-doc>
  <div class="mt-2 border bd-blue" *ngFor="let value of users$ | async">
    Name: {{ value.name }}, Id: {{ value.id }}<br>
    <div class="m-2 border bd-green">
      Entries: <br>
      <div class="m-2 border bd-red" *ngFor="let entry of value.entries">
        {{ entry.content }}
      </div>
    </div>
    <div class="text-right-sm p-2">
      <button m4-button class="mr-1" (click)="updateEntriesThroughUser(value)">Update entries through user</button>
    </div>
  </div>

  <div lang>
    <![CDATA[
    \f:(typescript:Angular)
    export class DemoComponent implements OnInit {\n
    \tprivate userCollection: DefaultCollection<User>;\n
    \tpublic users$: Observable<User[]>;\n\n

    \tconstructor(private db: SapphireDbService) {\n
    \t\tthis.userCollection = this.db.collection('Users').include('entries');\n
    \t\tthis.users$ = this.userCollection.values();\n
    \t}\n
    }

    \f:(csharp:User.cs:Server)
    public class User\n
    {\n
      \t[Key]\n
      \tpublic Guid Id { get; set; }\n\n

      \t// Update and creation of entries is possible\n
      \t[Updatable]\n
      \tpublic List<Entry> Entries { get; set; }\n\n

      \tpublic string Name { get; set; }\n
    }

    \f:(csharp:UserDisabled.cs:Server)
    public class User\n
    {\n
      \t[Key]\n
      \tpublic Guid Id { get; set; }\n\n

      \t// No update or creation of entries is possible\n
      \t[NonCreatable]\n
      \tpublic List<Entry> Entries { get; set; }\n\n

      \tpublic string Name { get; set; }\n
    }
    ]]>
  </div>
</app-doc>

<h3>Display entries with user</h3>

<app-doc>
  <div class="mt-2 border bd-blue" *ngFor="let entry of entries$ | async">
    Id: {{ entry.id }}, Content: {{ entry.content }}<br>
    <div class="m-2 border bd-green">
      User: {{ entry.user?.name }}
    </div>
    <div class="text-right-sm p-2">
      <button m4-button class="mr-1" (click)="updateEntry(entry)">Update entry</button>
      <button m4-button (click)="deleteEntry(entry)">Delete entry</button>
    </div>
  </div>

  <div lang>
    <![CDATA[
    \f:(typescript:Angular)
    export class DemoComponent implements OnInit {\n
    \tcollection: DefaultCollection<Entry>;
    \tvalues$: Observable<Entry[]>;\n\n

    \tconstructor(private db: SapphireDbService) { }\n\n

    \tngOnInit() {\n
    \t\tthis.collection = this.db.collection('Entries').include('user');\n
    \t\tthis.values$ = this.collection.values();\n
    \t}\n
    }
    ]]>
  </div>
</app-doc>

<div class="remark info">
  You have to take note of the special behavior when using include operations:<br>
  <ul>
    <li>The related objects are loaded without checking for authorization. All related values and fields will get loaded.</li>
    <li>It is possible to create/update new objects when putting them in the navigation property</li>
    <li>You can control the behavior of updating/creating navigation properties by using the attributes <code>[Updatable]</code> and <code>[NonCreatable]</code></li>
    <li>It is recommended to mark all navigation properties with <code>[NonCreatable]</code>. This will force you to create/update objects using the methods on the specific collections.</li>
    <li>When anything in the database changes that is related to the loaded data, the complete query gets executed again. That can have a negative impact on performance.</li>
  </ul>
</div>
