<h1>Query - Authentication/Authorization</h1>

<p>This example shows how to control the permission of a user to query the data of a collection using the <code>[QueryAuth]</code>-Attribute.</p>

<h2>Usage</h2>

<p>The <code>[QueryAuth]</code>-Attribute can be used on the model class and/or on specific fields/properties of the model</p>

<div class="remark info">
  Every auth-attribute can be used in three ways.
  <ol class="decimal">
    <li><b>Without attributes</b>: Authentication required</li>
    <li>
      <b>Policies</b>: A comma separated string of policy-names. All policies have to succeed. Check out
      <a href="https://docs.microsoft.com/de-de/aspnet/core/security/authorization/policies?view=aspnetcore-3.1" target="_blank">Policies</a>
      for more details
    </li>
    <li><b>Function name</b>: You can optionally pass the name of a function in the class that has to return a boolean. The function will get executed to check if the user is allowed for the action.</li>
  </ol>
</div>

<h2>Demo</h2>

<app-current-user></app-current-user>

<h3>Example - Only authenticated</h3>

<p>This example shows the basic usage. When you only use the attribute the user has to be authenticated.</p>

<div class="card">
  <div class="card-content p-5">
    <div *ngFor="let value of requiresAuthValues$ | async">
      {{ value | json }}
      <button m4-button (click)="remove(requiresAuthValuesCollection$, value)"><span class="mif-cross"></span></button>
    </div>
    <button m4-button (click)="add(requiresAuthValuesCollection$)">Add</button>
  </div>
</div>

<m4-panel title="Source" [collapsible]="true" [collapsed]="true">
  <app-doc [showContent]="false">
    <div lang>
      <![CDATA[
      \f:(csharp:Model.cs)
      [QueryAuth]\n
      public class RequiresAuthForQuery : Base\n
      {\n
        \tpublic string Content { get; set; }\n
      }

      \f:(typescript:example.component.ts)
      export class QueryAuthComponent implements OnInit {\n
        \tvalues$: Observable<any>;\n\n

        \tconstructor(private db: SapphireDb) {}\n\n

        \tngOnInit() {\n
          \t\tthis.values$ = this.db.collection('AuthDemo.RequiresAuthForQueryDemos').values();\n
        \t}\n
      }
      ]]>
    </div>
  </app-doc>
</m4-panel>

<h3>Example - Only admin</h3>

<p>This example shows how to use policies to check if the user allowed to query.</p>

<div class="card">
  <div class="card-content p-5">
    <div *ngFor="let value of requiresAdminValues$ | async">
      {{ value | json }}
      <button m4-button (click)="remove(requiresAdminValuesCollection$, value)"><span class="mif-cross"></span></button>
    </div>
    <button m4-button (click)="add(requiresAdminValuesCollection$)">Add</button>
  </div>
</div>

<m4-panel title="Source" [collapsible]="true" [collapsed]="true">
  <app-doc [showContent]="false">
    <div lang>
      <![CDATA[
      \f:(csharp:Model.cs)
      [QueryAuth("requireAdmin")]\n
      public class RequiresAdminForQuery : Base\n
      {\n
        \tpublic string Content { get; set; }\n
      }

      \f:(csharp:Startup.cs)
      public void ConfigureServices(IServiceCollection services)\n
      {\n
        \tservices.AddAuthorization(config =>\n
        \t{\n
          \t\tconfig.AddPolicy("requireAdmin", b => b.RequireRole("admin"));\n
        \t});\n
      }

      \f:(typescript:example.component.ts)
      export class QueryAuthComponent implements OnInit {\n
        \tvalues$: Observable<any>;\n\n

        \tconstructor(private db: SapphireDb) {}\n\n

        \tngOnInit() {\n
      \t\tthis.values$ = this.db.collection('AuthDemo.RequiresAdminForQueryDemos').values();\n
      \t}\n
      }
      ]]>
    </div>
  </app-doc>
</m4-panel>

<h3>Example - Custom function</h3>

<p>This example shows how to define a custom static function that checks if the user is allowed.</p>

<div class="card">
  <div class="card-content p-5">
    <div *ngFor="let value of customFunctionValues$ | async">
      {{ value | json }}
      <button m4-button (click)="remove(customFunctionValuesCollection$, value)"><span class="mif-cross"></span></button>
    </div>
    <button m4-button (click)="add(customFunctionValuesCollection$)">Add</button>
  </div>
</div>

<m4-panel title="Source" [collapsible]="true" [collapsed]="true">
  <app-doc [showContent]="false">
    <div lang>
      <![CDATA[
      \f:(csharp:Model.cs)
      [QueryAuth(functionName: "CanQuery")]\n
      public class CustomFunctionForQuery : Base\n
      {\n
        \tpublic static bool CanQuery(HttpInformation httpInformation)\n
        \t{\n
          \t\treturn httpInformation.User.IsInRole("admin");\n
        \t}\n\n

        \tpublic string Content { get; set; }\n
      }

      \f:(typescript:example.component.ts)
      export class QueryAuthComponent implements OnInit {\n
        \tvalues$: Observable<any>;\n\n

        \tconstructor(private db: SapphireDb) {}\n\n

        \tngOnInit() {\n
      \t\tthis.values$ = this.db.collection('AuthDemo.CustomFunctionForQueryDemos').values();\n
      \t}\n
      }
      ]]>
    </div>
  </app-doc>
</m4-panel>

<div class="remark success">
  You can use dependency injection for the method. SapphireDb will provide you a <code>HttpInformation</code>-object with information about the request and the instances found in the <code>DI-Container</code>.
</div>

<h3>Example - Custom function per entry</h3>

<p>This example is a bit special. The user is allways allowed to query information and the check for permission is made for each entry. All entries that are not allowed to get queried will just get omitted.</p>

<div class="card">
  <div class="card-content p-5">
    <div *ngFor="let value of customFunctionPerEntryValues$ | async">
      {{ value | json }}
      <button m4-button (click)="remove(customFunctionPerEntryValuesCollection$, value)"><span class="mif-cross"></span></button>
      <button m4-button (click)="update(customFunctionPerEntryValuesCollection$, value)"><span class="mif-pencil"></span></button>
    </div>
    <button m4-button (click)="add(customFunctionPerEntryValuesCollection$)">Add</button>
  </div>
</div>

<m4-panel title="Source" [collapsible]="true" [collapsed]="true">
  <app-doc [showContent]="false">
    <div lang>
      <![CDATA[
      \f:(csharp:Model.cs)
      [QueryAuth(functionName: "CanQuery", perEntry: true)]\n
      public class CustomFunctionPerEntryForQuery : Base\n
      {\n
        \tpublic bool CanQuery(HttpInformation httpInformation)\n
        \t{\n
          \t\treturn httpInformation.User.IsInRole("admin") && Content == "Test 1";\n
        \t}\n\n

        \tpublic string Content { get; set; }\n
      }

      \f:(typescript:example.component.ts)
      export class QueryAuthComponent implements OnInit {\n
        \tvalues$: Observable<any>;\n\n

        \tconstructor(private db: SapphireDb) {}\n\n

        \tngOnInit() {\n
      \t\tthis.values$ = this.db.collection('CustomFunctionPerEntryForQueryDemos', 'AuthDemo').values();\n
      \t}\n
      }
      ]]>
    </div>
  </app-doc>
</m4-panel>

<h3>Example - Authorization for fields</h3>

<p>This example shows how to handle authorization on fields.</p>

<div class="card">
  <div class="card-content p-5">
    <div *ngFor="let value of queryFields$ | async">
      {{ value | json }}
      <button m4-button (click)="remove(queryFieldsCollection$, value)"><span class="mif-cross"></span></button>
      <button m4-button (click)="update(queryFieldsCollection$, value)"><span class="mif-pencil"></span></button>
    </div>
    <button m4-button (click)="add(queryFieldsCollection$)">Add</button>
  </div>
</div>

<m4-panel title="Source" [collapsible]="true" [collapsed]="true">
  <app-doc [showContent]="false">
    <div lang>
      <![CDATA[
      \f:(csharp:Model.cs)
      public class QueryFields : Base
      {\n
        \t[QueryAuth]\n
        \tpublic string Content { get; set; }\n\n

        \t[QueryAuth("requireAdmin")]\n
        \tpublic string Content2 { get; set; }\n\n

        \t[QueryAuth(functionName: "CanQuery")]\n
        \tpublic string Content3 { get; set; }\n\n

        \tprivate bool CanQuery()\n
        \t{\n
          \t\treturn Content == "Test 1";\n
        \t}\n
      }

      \f:(typescript:example.component.ts)
      export class QueryAuthComponent implements OnInit {\n
        \tvalues$: Observable<any>;\n\n

        \tconstructor(private db: SapphireDb) {}\n\n

        \tngOnInit() {\n
      \t\tthis.values$ = this.db.collection('AuthDemo.QueryFieldDemos').values();\n
      \t}\n
      }
      ]]>
    </div>
  </app-doc>
</m4-panel>
