<div *ngFor="let v of user$ | async" (click)="remove(v)">
  {{v | json}}
</div>

<m4-input [(ngModel)]="username" (keyup.enter)="createUser()"></m4-input>

<button m4-button (click)="addOffset(1)">+1</button>
<button m4-button (click)="addOffset(-1)">-1</button>

<br>

<m4-slider [ngModel]="rangeValue | async"></m4-slider>
<button m4-button type="button" (click)="execute()">Execute</button>

<br>

<m4-input [(ngModel)]="message"></m4-input>
<button m4-button (click)="send()">Send</button>

<br>
<button m4-button (click)="executeTest()">Execute test</button>

<button m4-button (click)="createTestSecond()">Create Test on second</button>
