<h1>Contribution</h1>

<p>
  This section is made for all people who are interested in the people and future of the project.<br>
  If you are interested in contributing to the project check out the todo section to find a suiting task.
</p>

<h2>Todo</h2>

<p>
  If you follow the link you'll get to the project board.<br>
  If you are interested to help bringing the project forward you can choose a task and contribute.
</p>

<a href="https://github.com/orgs/SapphireDb/projects/1" target="_blank">Project board</a>

<h2>Contributors</h2>

<p>
  I want to thank all contributors of the project for the great work.<br>
  I also want to thank the developers of used third party libraries for their work.
</p>

<div class="row">
  <div class="cell-3">
    <div class="card">
      <div class="card-header">
        <div class="avatar">
          <img src="https://avatars1.githubusercontent.com/u/20016673?s=460&v=4">
        </div>
        <div class="name">Morris Janatzek</div>
        <div class="date">morrisjdev</div>
      </div>
      <div class="card-content p-2">
        <img src="https://avatars1.githubusercontent.com/u/20016673?s=460&v=4" style="width: 100%">
      </div>
      <div class="card-footer">
        <a class="flat-button" href="https://github.com/morrisjdev" target="_blank"><span class="mif-github"></span></a>
        <a class="flat-button" href="https://de.linkedin.com/in/morris-janatzek-278222173" target="_blank"><span class="mif-linkedin"></span></a>
        <a class="flat-button" href="https://morrisj.net/" target="_blank"><span class="mif-link"></span></a>
      </div>
    </div>
  </div>
</div>

