<h1>Sponsors</h1>

<div class="row">
  <div class="cell-lg-3 cell-md-4">
    <div class="card">
      <div class="card-header">
        <div class="avatar">
          <img src="https://c10.patreonusercontent.com/3/eyJ3IjoyMDB9/patreon-media/p/user/29441453/454f053e57f84f92a26833261309eeca/1.png?token-time=2145916800&token-hash=1HJiHHmhZn1GDhicXXpsaLj_tBLxUkUiQf_A1PjlmXE%3D">
        </div>
        <div class="name">Srini Vasan</div>
        <div class="date">First patron</div>
      </div>
      <div class="card-footer">
<!--        <a class="flat-button" href="https://github.com/morrisjdev" target="_blank"><span class="mif-github"></span></a>-->
<!--        <a class="flat-button" href="https://de.linkedin.com/in/morris-janatzek-278222173" target="_blank"><span class="mif-linkedin"></span></a>-->
<!--        <a class="flat-button" href="https://morrisj.net/" target="_blank"><span class="mif-link"></span></a>-->
      </div>
    </div>
  </div>
</div>
