<h1>Get started - Setup angular client</h1>

<p>
  ng-realtime-database is a client implementation for Angular. You need a working Angular application.
</p>

<h2>Installation</h2>

<h3>Install package</h3>
<p class="mb-5">To install the package execute the following command in your console</p>

<pre><code [highlight]="'npm install -S ng-realtime-database'" [languages]="[ 'ps' ]"></code></pre>

<p>
  You can find the project here:
  <a href="https://www.npmjs.com/package/ng-realtime-database" target="_blank">https://www.npmjs.com/package/ng-realtime-database</a>
</p>

<h3>Import realtime database module</h3>
<p>To use the realtime database you have to first setup the realtime database. Import the module in your <code>app.module.ts</code></p>

<app-doc [showContent]="false">
  <div lang>
    <![CDATA[
    \f:(typescript:app.module.ts)
    @NgModule({\n
      \t...\n
      \timports: [\n
        \t\t...\n
        \t\tRealtimeDatabaseModule.config({\n
          \t\t\tserverBaseUrl: environment.serverBaseUrl,\n
          \t\t\tconnectionType: 'websocket'\n
      \t\t}),\n
      \t\t...\n
      \t],\n
      \t...\n
    })\n
    export class AppModule {}
    ]]>
  </div>
</app-doc>

<div class="remark success">
  You can skip <code>serverBaseUrl</code>. ng-realtime-database will automatically get the current url, port and protocol and call the correct endpoint.<br>
  <code>connectionType</code> is also not required and ng-realtime-database will figure out a working connection type for your client.
</div>

<h3>Access the database</h3>

<p>To call function on the database you have to inject the realtime database in your components etc.</p>

<app-doc [showContent]="false">
  <div lang>
    <![CDATA[
    \f:(typescript:main.component.ts)
    constructor(private db: RealtimeDatabase) { }
    ]]>
  </div>
</app-doc>

<h2>Done</h2>

<p>Your realtime database client should now work.</p>
<a routerLink="../../data">Start using it by querying data <span class="mif-arrow-right"></span></a>
