<h1>Manage data</h1>

<p>SapphireDb provides all methods you need to manage your data. You don't have to write Create, Update and Delete methods.</p>

<h2>Create data</h2>

<app-doc>
  <ng-container *m4Let="values$ | async; let values">
    <div class="row">
      <div class="cell-4" *ngFor="let v of values">{{ v | json}}</div>
    </div>
    <button m4-button (click)="addValue()">Add value</button>
    <button m4-button (click)="addValues()">Add values</button>
  </ng-container>
  <div lang>
    <![CDATA[
    \f:(typescript:Angular)
    export class DemoComponent implements OnInit {\n
      \tcollection: DefaultCollection<Entry>;\n
      \tvalues$: Observable<Entry[]>;\n\n

      \tconstructor(private db: SapphireDbService) { }\n\n

      \tngOnInit() {\n
        \t\t// Use a collection object to easily access the methods of a collection\n
        \t\tthis.collection = this.db.collection<Entry>('demo.entries');\n
        \t\tthis.values$ = this.collection.values();\n
      \t}\n\n

      \taddValue() {\n
        \t\t// Use the method .add to add a new object\n
        \t\tthis.collection.add({\n
          \t\t\tcontent: 'test value'\n
        \t\t});\n
      \t}\n\n

      \taddValues() {\n
        \t\t// Use the method .add to add multiple new object\n
        \t\tthis.collection.add(...[\n
          \t\t\t{\n
            \t\t\t\tcontent: 'test value 1'\n
          \t\t\t},\n
          \t\t\t{\n
            \t\t\t\tcontent: 'test value 2'\n
          \t\t\t}\n
        \t\t]);\n
      \t}\n
    }

    \f:(csharp:DemoContext.cs:Server)
    public class DemoContext : SapphireDbContext\n
    {\n
    \tpublic DemoContext(DbContextOptions<DemoContext> options, SapphireDatabaseNotifier notifier) : base(options, notifier)\n
    \t{\n
    \t}\n\n

    \tpublic DbSet<DemoEntry> Entries { get; set; }\n
    }

    \f:(csharp:DemoEntry.cs:Server)
    public class DemoEntry\n
    {\n
    \t[Key]\n
    \tpublic int Id { get; set; }\n\n

    \tpublic string Content { get; set; }\n\n

    \t[NonCreatable]\n
    \tpublic string NonCreatableField { get; set; }\n
    }
    ]]>
  </div>
</app-doc>

<div class="remark info">
  You can also exclude some fields and make them <code>[NonCreatable]</code> using the attribute. This is useful when using includes for example.
</div>

<h2>Delete data</h2>

<app-doc>
  <ng-container *m4Let="values$ | async; let values">
    <div class="row">
      <div class="cell-4" *ngFor="let v of values" (click)="deleteValue(v)"><span class="mif-cross"></span> {{ v | json}}</div>
    </div>
    <button m4-button (click)="addValue()">Add value</button>
    <button m4-button (click)="deleteValues(values)">Delete values</button>
  </ng-container>

  <div lang>
    <![CDATA[
    \f:(typescript:Angular)
    export class DemoComponent implements OnInit {\n
      \tcollection: DefaultCollection<Entry>;\n

      \tconstructor(private db: SapphireDbService) { }\n\n

      \tngOnInit() {\n
        \t\tthis.collection = this.db.collection<Entry>('entries', 'demo');\n
      \t}\n\n

      \tdeleteValue(value: Entry) {\n
        \t\tthis.collection.remove(value);\n
      \t}\n\n

      \tdeleteValues(values: Entry[]) {\n
        \t\tthis.collection.remove(...values);\n
      \t}\n
    }
    ]]>
  </div>
</app-doc>

<h2>Update data</h2>

<p>You can also update values very easy. Make sure to add the <code>[Updatable]</code>-annotation to the model class or to specific fields to make them updatable.</p>

<app-doc>
  <ng-container *m4Let="values$ | async; let values">
    <div class="row">
      <div class="cell-4" *ngFor="let v of values" (click)="updateValue(v)"><span class="mif-pencil"></span> {{ v | json}}</div>
    </div>
    <button m4-button (click)="addValue()">Add value</button>
    <button m4-button (click)="updateValues(values)">Update values</button>
  </ng-container>

  <div lang>
    <![CDATA[
    \f:(typescript:Angular)
    export class DemoComponent implements OnInit {\n
      \tcollection: DefaultCollection<Entry>;\n

      \tconstructor(private db: SapphireDbService) { }\n\n

      \tngOnInit() {\n
        \t\tthis.collection = this.db.collection<Entry>('demo.entries');\n
      \t}\n\n

      \tupdateValue(value: Entry) {\n
        \t\tthis.collection.update({\n
          \t\t\t...value,\n
          \t\t\tcontent: v\n
        \t\t});\n
      \t}\n\n

      \tupdateValues(values: Entry[]) {\n
        \t\tthis.collection.update(...values);\n
      \t}\n
    }

    \f:(csharp:DemoEntry.cs:Server)
    [Updatable]\n
    public class DemoEntry\n
    {\n
    \t[Key]\n
    \tpublic int Id { get; set; }\n\n

    \tpublic string Content { get; set; }\n
    }
    ]]>
  </div>
</app-doc>

<div class="remark info">
  Make sure to include at least the primary keys in the object when calling update or delete.
</div>

<div class="remark warning">
  You should use the spread-syntax used in the example. This ensures that all data are included in the model.
</div>

<div class="remark success">
  All manage methods support inserting ranges. You can easily create, update and delete an array of objects.
  You just have to pass it to the methods using the spread array syntax.
</div>

<a routerLink="../prefilter">Continue with prefilters <span class="mif-arrow-right"></span></a>
